<launch>
  <param name="/use_sim_time" value="true"/>
  <!-- launch a bag -->
<node pkg="rosbag" type="play" name="player" args="--clock /home/marek/Downloads/noodom.bag -r 0.5"/>
<include file="$(find andrea_ros)/launch/rtabmap_main.launch" />

<!--launch rviz-->
<!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find andrea_ros)/config/rtabmap.rviz"/>-->

</launch>