<launch>
<param name="use_sim_time" value="true"/>
<node pkg="rosbag" type="play" name="bag_player"
    args="--clock /home/marek/Downloads/Orbbag.bag"/>
    
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="disparity"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <remap from="image_rect" to="/camera/depth/image_rect_raw"/>
    <remap from="points" to="/camera/depth/points"/>
  </node>
</launch>
