<?xml version="1.0"?>
<launch>
    <!-- <include file="$(find morph_bringup)/launch/gyro.launch" /> -->
    <!-- Convert an xacro and put on parameter server -->

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find morph_bringup)/config/morph.yaml" command="load"/>

    <!-- Launch robot hardware driver -->
    <include file="$(find morph_hw)/launch/morph.launch"/>

    <!-- Load the differential drive controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="mobile_base_controller joint_state_controller">
    </node>

    <!-- State publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- mobile base nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>

    <!-- velocity commands multiplexer -->
    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
      <param name="yaml_cfg_file" value="$(find morph_bringup)/config/mux.yaml"/>
     <!-- <remap from="cmd_vel_mux/output" to="/cmd_vel"/> -->
    </node>

<!--    <include file="$(find safety_controller)/launch/minimal.launch" /> -->    <!-- <include file="$(find morph_bringup)/launch/ekf_localization.launch" /> -->
</launch>
