<launch>
 <node pkg="rosbag" type="record" name="core_recording"
    args="-o /home/andreacec/test_bag.bag /camera/fisheye1/camera_info
/camera/fisheye1/camera_info_calib
/camera/fisheye1/image_raw/compressed
/camera/fisheye1/image_raw/compressed/parameter_descriptions
/camera/fisheye1/image_raw/compressed/parameter_updates
/camera/fisheye1/image_raw/compressedDepth
/camera/fisheye1/image_raw/compressedDepth/parameter_descriptions
/camera/fisheye1/image_raw/compressedDepth/parameter_updates
/camera/fisheye1/image_raw/theora/parameter_descriptions
/camera/fisheye1/image_raw/theora/parameter_updates
/camera/fisheye2/camera_info
/camera/fisheye2/camera_info_calib
/camera/fisheye2/image_raw/compressed
/camera/fisheye2/image_raw/compressed/parameter_descriptions
/camera/fisheye2/image_raw/compressed/parameter_updates
/camera/fisheye2/image_raw/compressedDepth
/camera/fisheye2/image_raw/compressedDepth/parameter_descriptions
/camera/fisheye2/image_raw/compressedDepth/parameter_updates
/camera/fisheye2/image_raw/theora/parameter_descriptions
/camera/fisheye2/image_raw/theora/parameter_updates
/camera/odom/sample
/camera/realsense2_camera_manager/bond
/camera/tracking_module/parameter_descriptions
/camera/tracking_module/parameter_updates
/cmd_vel_mux/active
/cmd_vel_mux/input/navi
/cmd_vel_mux/input/teleop
/cmd_vel_mux/parameter_descriptions
/cmd_vel_mux/parameter_updates
/diagnostics
/joint_states
/joy
/joy/set_feedback
/left_wheel/sensors/core
/line_navigation/cmd_vel
/mobile_base_controller/cmd_vel
/mobile_base_controller/odom
/mobile_base_controller/parameter_descriptions
/mobile_base_controller/parameter_updates
/mobile_base_nodelet_manager/bond
/right_wheel/sensors/core
/rosout
/rosout_agg
/rqt_gui_cpp_node_8188/compressed/parameter_descriptions
/rqt_gui_cpp_node_8188/compressed/parameter_updates
/tf
/tf_static
"/>
</launch>
