<?xml version="1.0"?>
<launch>
    <include file="$(find morph_bringup)/launch/minimal.launch" />
<include file="$(find andrea_ros)/launch/joystick_bringup.launch" />
<include file="$(find andrea_ros)/launch/start_intel.launch" />
<include file="$(find rplidar_ros)/launch/rplidar.launch" />
<node pkg="tf"  type="static_transform_publisher" name="camera2baselink" args="0.2 0 0.33 0 0 0 base_link camera_pose_frame 100"/>
<node pkg="tf"  type="static_transform_publisher" name="laser2baselink" args="0.04 0 0.37 0 0 0 base_link laser 100"/>
<include file="$(find andrea_ros)/launch/rtabmap_test3.launch" />
</launch>

