<launch>

<!--<arg name="stereo_sync" default="false" />-->
<!--<param name="use_sim_time" value="true"/>
<node pkg="rosbag" type="play" name="bag_player"
   args="clock /home/marek/Downloads/Orbbag.bag"/> -->
   
<include file="$(find realsense2_camera)/launch/rs_t265.launch" /> 
    

<arg name="first_camera_name" default="camera/fisheye1" />
<arg name="scale" default="2.0" />
<arg name="process_every_nth_frame" default="2" />



  <node name="stereo_info_node" pkg="image_undistort" type="stereo_info_node">
    <param name="input_camera_info_from_ros_params" value = "true"/>

    <param name="scale" value="$(arg scale)"/>
    <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
    
   

    <remap from="raw/first/image" to="camera/fisheye1/image_raw"/>
    <remap from="raw/second/image" to="camera/fisheye2/image_raw"/>
 <remap from="raw/first/camera_info" to="camera/fisheye1/camera_info"/>
    <remap from="raw/second/camera_info" to="camera/fisheye2/camera_info"/>
</node>

</launch>
